[Desktop Entry]
Type=Application
Name=DjVu Viewer
X-Amber-Translation-Id-Name=djvu-viewer-ap-name
X-Amber-Translation-Catalog=djvu-viewer
Icon=icon-launcher-office
Exec=/usr/bin/djvu-viewer %U
DBusActivatable=true
MimeType=image/vnd.djvu;image/vnd.djvu+multipage;image/x.djvu;image/x-djvu;
Comment=DjVu Viewer

[X-Sailjail]
Permissions=UserDirs;MediaIndexing;RemovableMedia
ApplicationName=DjVu-Viewer
OrganizationName=info.you-ra
ExecDBus=/usr/bin/djvu-viewer -prestart
